
* {
    margin: 0;
    box-sizing: border-box;
}


$primary-color: #3498db;
$font-color: #2c3e50;
$facebook-color: #3b5998;

body {
    font-family: Arial, sans-serif;
    color: $font-color;
}

img {
    max-width: 100%;
}


.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .img, .log-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        max-width: 350px;
    }

    .img {
        max-width: 100%;
        border-radius: 10px;
    }
}

.log-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: $primary-color;
    color: white;
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

.log-face {
    font-size: 16px;
}

.separator {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    span {
        background-color: #fff;
        padding: 0 10px;
        font-weight: bold;
    }

    hr {
        flex-grow: 1;
        border-top: 1px solid #ccc;
    }
}

.forgot-password {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


.sign-up-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;

    a {
        color: $primary-color;
        text-decoration: none;
    }
}
